.search-box {
    display: flex;
    align-items: center;
    background: #dde6ed;
    border-radius: 10px;
    padding: 8px 10px;
    width: 150px;
  }
  .search-box input {
    border: none;
    outline: none;
    background: transparent;
    padding: 5px;
  }
  .search-box .icon {
    color: #969393;
    font-size: 22px;
    cursor: pointer;
    transition: 0.5s ease-in-out;
  }
  
  .list-search-box input {
    border: none;
    outline: none;
    background: transparent;
    padding: 5px;
  }
  .list-search-box .icon {
    color: #969393;
    font-size: 22px;
    cursor: pointer;
    transition: 0.5s ease-in-out;
  }